{% extends 'base.html.twig' %}

{% block title %}Antenas index{% endblock %}

{% block body %}
    <h1>Antenas</h1>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sos</th>
                    <th>Direccion</th>
                    <th>Propietario</th>
                    <th>TelefonoAtc</th>
                    <th>Observacion</th>
                    <th>Distrito</th>
                    <th>Provincia</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>AlturaCasa</th>
                    <th>AlturaColumna</th>
                    <th>Shelter</th>
                    <th>Shelter2</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>Suministro</th>
                    <th>DwdmAgg</th>
                    <th>SrtNoYes</th>
                    <th>Viba</th>
                    <th>OpticalFiber</th>
                    <th>TypeOfDcSystem</th>
                    <th>QuantityOfBatteries</th>
                    <th>AirCondition</th>
                    <th>DryContact</th>
                    <th>JailProtection</th>
                    <th>Padlock</th>
                    <th>Llave</th>
                    <th>HappyCall</th>
                    <th>OnAir</th>
                    <th>Fecha</th>
                    <th>Maintenance</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
        {% for antena in antenas %}
            <tr>
                <td>{{ antena.id }}</td>
                <td>{{ antena.sos }}</td>
                <td>{{ antena.direccion }}</td>
                <td>{{ antena.propietario }}</td>
                <td>{{ antena.telefonoAtc }}</td>
                <td>{{ antena.observacion }}</td>
                <td>{{ antena.distrito }}</td>
                <td>{{ antena.provincia }}</td>
                <td>{{ antena.latitud }}</td>
                <td>{{ antena.longitud }}</td>
                <td>{{ antena.alturaCasa }}</td>
                <td>{{ antena.alturaColumna }}</td>
                <td>{{ antena.shelter }}</td>
                <td>{{ antena.shelter2 }}</td>
                <td>{{ antena.estado }}</td>
                <td>{{ antena.tipo }}</td>
                <td>{{ antena.suministro }}</td>
                <td>{{ antena.dwdmAgg }}</td>
                <td>{{ antena.srtNoYes }}</td>
                <td>{{ antena.viba }}</td>
                <td>{{ antena.opticalFiber }}</td>
                <td>{{ antena.typeOfDcSystem }}</td>
                <td>{{ antena.quantityOfBatteries }}</td>
                <td>{{ antena.airCondition }}</td>
                <td>{{ antena.dryContact }}</td>
                <td>{{ antena.jailProtection }}</td>
                <td>{{ antena.padlock }}</td>
                <td>{{ antena.llave }}</td>
                <td>{{ antena.happyCall }}</td>
                <td>{{ antena.onAir }}</td>
                <td>{{ antena.fecha }}</td>
                <td>{{ antena.maintenance }}</td>
                <td>
                    <a href="{{ path('antenas_show', {'id': antena.id}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="33">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('antenas_new') }}" class="btn btn-primary">Crear nuevo</a>
    {% endif %}
{% endblock %}
