{% extends 'base.html.twig' %}

{% block title %}Colegios{% endblock %}

{% block body %}
    <h1>Colegios</h1>

    <div class="app-wrapper">
        <form class="form-inline" action="{{ path('colegios_index') }}">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="Escribe aqui">
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code1</th>
                <th>Code2</th>
                <th>Code3</th>
                <th>Cantidad</th>
                <th>Cel</th>
            </tr>
            </thead>
            <tbody>
            {% for colegio in pagination %}
                <tr>
                    <td><a href="{{ path('colegios_show', {'id': colegio.id}) }}">{{ colegio.id }}</a></td>
                    <td>{{ colegio.id }}</td>
                    <td>{{ colegio.name }}</td>
                    <td>{{ colegio.code1 }}</td>
                    <td>{{ colegio.code2 }}</td>
                    <td>{{ colegio.code3 }}</td>
                    <td>{{ colegio.cantidad }}</td>
                    <td>{{ colegio.cel }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('colegios_new') }}" class="btn btn-primary">Crear nuevo</a>
    {% endif %}
{% endblock %}
