{% extends 'base.html.twig' %}

{% block title %}Colegios index{% endblock %}

{% block body %}
    <h1>Colegios</h1>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code1</th>
                <th>Code2</th>
                <th>Code3</th>
                <th>Cantidad</th>
                <th>Cel</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for colegio in colegios %}
                <tr>
                    <td>{{ colegio.id }}</td>
                    <td>{{ colegio.name }}</td>
                    <td>{{ colegio.code1 }}</td>
                    <td>{{ colegio.code2 }}</td>
                    <td>{{ colegio.code3 }}</td>
                    <td>{{ colegio.cantidad }}</td>
                    <td>{{ colegio.cel }}</td>
                    <td>
                        <a href="{{ path('colegios_show', {'id': colegio.id}) }}">Ver</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('colegios_new') }}" class="btn btn-primary">Crear nuevo</a>
    {% endif %}
{% endblock %}
